<div class="flags-container">
    <img src="assets/images/iconfinder_poland_325977.png"  (click)="changeLanguage('pl')">
    <img src="assets/images/iconfinder_Flag_of_United_Kingdom_96354.png" (click)="changeLanguage('en')">
  </div>
<ul>
    <li>{{'mypage.send' | customTranslate}}</li>
    <li>{{'mypage.title'| customTranslate:'{"title": "My Titleeee"}'}}</li>
    <li>{{'mypage.action.delete' | customTranslate}}</li>
    <li>{{'mypage.action.deleteAll' | customTranslate}}</li>
</ul>

<button (click)="useTransService()">Retrieve data from service</button>
<p>{{serviceSendWord}}</p>